*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'cinzel', serif;
}

.navbar{

    text-transform: capitalize;
    align-items: center;
    width: 100%;
    height: 90px;
    position: relative;
    background: linear-gradient(180deg, red, blue );
    top: 0;
    left: 0;
    display: flex;
    z-index: 9;
    transition: 0.5s;
}

.navbar.bg{
    background: #fff;

}

.logo-img{
    margin-top: 10px;
    margin-left: 100px;
    width: 80px;
    height: 80px;
}

.links-container{
    margin-left: 15%;
    display: flex;
    align-items: center;
    list-style: none;
}

.link-item{
    margin: 10px;
}

.link{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    opacity: 0.7;
    transition: .5s;
}

.navbar.bg .link{
    color: #000;
    opacity: .5s;
}

.link.active, .link:hover, .navbar.bg .link:hover, .navbar.bg .link.active{
    opacity: 1;
}

.user-interaction{

    font-family: 'cinzel', sans-serif;
    display: flex;
    position: absolute;
    right: 5vw;
    top: 50%;
    transform: translateY(-50%);
}

.buy-btn{
    padding: 7px;
    font-family: 'cinzel', sans-serif;
    font-size: 20px;
    border-radius: 10%;
    cursor: pointer;
    background-color: #d5be8b;
}

.header-section{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.event-img{
    width: 100%;
    height: 90vh;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    
}
.event h1{
    top: 25%;
    left: 57%;
    font-size: 65px;
    color: #479270;
    position: absolute;
}

.header-des{
    background-color:rgba(59, 124, 18, 0.066);
    border: 5px solid rgba(220, 220, 220, 0.119);
}
.header-des span{
    
    padding: 10px;
    color: #000;
}

.header-buttons{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.about-btn{
    margin-top: 60px;
    padding: 7px;
    font-family: 'cinzel', sans-serif;
    font-size: 20px;
    border-radius: 10%;
    cursor: pointer;
    background-color: #d5be8b;
    margin-left: 500px;
}

.service-btn{
    margin-left: 500px;
    color: #000;
    margin-top: 20px;
    padding: 7px;
    font-family: 'cinzel', sans-serif;
    font-size: 20px;
    border-radius: 10%;
    cursor: pointer;
    background-color: #fff#29ed9246;
}

.detail{
    margin-left: 32px;
    padding:20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.des-img{
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-left: 25%;
}

.des h1{
    font-size: 25px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.des p{
    font-family: 'lato', sans-serif;
    width: 300px;
    justify-content: space-between;
    
    margin-top: 15px;
    line-height: 30px;
}

.des a{
    position: relative;
    color: red;
    text-decoration: none;
    top: 10px;
    margin-left: 25%;
}

.gallary-section{
    background:  linear-gradient(180deg, red, blue );
    position: relative;
    width: 100%;
    height: 90vh;
}

.gallary-section h1{
    font-size: 30px;
    margin-left: 45%;
    position: relative;
    padding-top: 30px;
}

.gallary-section p{
    font-family: 'lato', sans-serif;
    position: relative;
    display: table;
    margin-left: 34%;
}

.gallary-img{
    transform: translate(29%, 20%);
    width: 300px;
    height: 200px;
}

/* footer */

.footer{
    background: url(images/footer.png);
    width: 100%;
    color: #fff;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.footer .container {
    padding-top: 20px;
    align-items: center;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer .container div {
    flex: 1;
    margin: 10px;
}

.footer ul {
    list-style: none;
    padding: 0;
}


.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.footer .social-icons {
    display: flex;
    flex-wrap: wrap;
}

.footer .social-icons a {
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
}

.footer .social-icons a:hover {
    color: #ddd;
}




