*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'cinzel', serif;
}

.navbar{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    z-index: 9;
    transition: 0.5s;
}

.navbar.bg{
    background: #fff;

}

.links-container{
    display: flex;
    align-items: center;
    list-style: none;
}

.link-item{
    margin: 15px;
}

.link{
    position: relative;
    font-size: 25px;
    color: #faf6f6;
    text-decoration: none;
    padding: 10px;
    opacity: 0.7;
    transition: .5s;
}

.navbar.bg .link{
    color: #000;
    opacity: .5s;
}

.link:hover, .navbar.bg .link:hover, .navbar.bg .link.active{
    opacity: 1;
}
.header-section{
    height: 100vh;
    display: flex;

}
.left-container, .right-container{
    display: flex;
    align-items: center;
}
.left-container{
    background: #262522;
    width: 70%;
    padding-left: 3rem;
}

.right-container{
    background: linear-gradient(-45deg, #3877ff, #262522 70%);
    width: 30%;
}

.icons .fa-brands{
    color: #bbb;
    font-size: 1.7rem;
}

.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.content{
    margin:20px;
}

.content h2{
    font-size:30px;
}

.content h2 span{
    color: #5db9ee;
}

.content h1{
    font-size: 80px;
    color: #5db9ee;
}
.content p{
    font-size: 19px;
    line-height: 1.8rem;
    color: #faf6f6;
}

.buttons{
    font-size: 40px;
    margin-top: 20px;
   
    
}
.hire-btn{
    font-size: 25px;
    background: transparent;
    border: 2px solid #5db9ee;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.project-btn{
    margin-left: 25px;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #5db9ee;
    background: transparent;
    color: #fff;
    cursor: pointer;
}

.hire-btn:hover{
    color: #3877ff;
}
.project-btn:hover{
    background: transparent;
    color: #3877ff;
}

.icons .fa-brands:hover{
    cursor: pointer;
    background: linear-gradient(#fff, #3877ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.design .circle{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}
.circle:nth-child(1){
    background: linear-gradient(90deg, transparent 50%, #262522 50%);
    width: 38rem;
}

.circle:nth-child(2){
    background-image: url(images/arpit.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 30rem;
    border: .5rem solid white;
    box-shadow:
    0 0 1rem #fff,
    inset 0 0 1rem #fff,
    0 0 2rem #3877ff,
    inset 0 0 2rem #3877ff,
    0 0 5rem #3877ff,
    inset 0 0 4rem #3877ff;
}

.link::after{
    content: "";
    position: absolute;
    background: #fff;
    width: 100%;
    height: .1rem;
    left: 0;
    bottom: 1px;
    transform: scaleX(0);
    transition: transform .5s;
}

.link:hover::after{
    transform: scaleX(1);
}
.about-me{
    width: 100%;

}
.about-me h1{
    margin-top: 10px;
    padding-left: 45%;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'cinzel', sans-serif;
    font-size: 40px;
    color: #262522;
}

.about-me p{
    font-family: 'lato', sans-serif;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 30px;
}

.about-design{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
}

.experience{
    height: 230px;
    display: block;
    justify-content: center;
    width: 40%;
    border: 5px solid #bbb;
}
.experience h2{
    margin-top: 15px;
    margin-left: 35%;
}

.experience p{
    margin: 15px;
    font-family: 'lato', sans-serif;
    font-size: 20px;
}


.Appreciations{
    height: 230px;
    margin-left: 40px;
    display: block;
    justify-content: center;
    width: 40%;
    border: 5px solid #bbb;
}
.Appreciations h2{
    margin-top: 15px;
    margin-left: 35%;
}

.Appreciations p{
    margin: 15px;
    font-family: 'lato', sans-serif;
    font-size: 20px;
}

.mid-img{
    width: 100%;
}

/*award*/
.section-title{
    margin-left: 35%;
    font-size: 40px;
}
.search-listing{
    width: 100%;
    height: auto;
    padding: 60px 5vw;
}

.product-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    
}

.product-card{
    width: 45%;
    margin: 20px 0;
    border: 10px solid #f2f2f2 !important;
}
.product-card h3{
    margin-top: 5px;
    font-size: 20px;

}
.product-card p{
    margin-top: 4px;
    font-family: 'lato', sans-serif;
}



